body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    max-width: 100%;
    height: 6rem;
    background-image: url(img/pokebolas-reales-pokemon.jpg);
    background-position: 0em;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
}

.logopokemon{
    width: 100%;
    height: 95%;
    background-image: url(img/logopokemon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.desarrollo{
    display: flex;
    flex-direction: row;
    background: url(img/bosquepokemon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lateral {
    background-color: #60C264;
    width: 220px;
    display: flex;
    justify-content: center;
}

.contenedorTarjetas {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

.contenedorlateral {
    width: 85%;
    margin-top: 35px;
    height: 65vh;
    position: sticky;
    top: 12vh;
}

.inputs {
    width: 100%;
    border-radius: 4px;
    height: 25px;
    border: solid .05px #777;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 2px;
}

input:first-child {
    margin-bottom: 30px;
    display: inline-block;
    font: 13.5px Arial;
}

label:first-child {
    margin: 0 0 8px 0;
}

.checkboxSi, .checkboxNo {
    margin: 0 3px;
}

.contieneinputslateral{
    margin-bottom: 30px;
}

label {
    font-size: 0.8em;
}

.evolucion {
    display: flex;
    flex-direction: column;
}

.contienesino{
    display: flex;
    vertical-align: bottom;
}

.tarjetaPokemon {
    background: rgb(193, 186, 186, 0.6);
    margin: 12px 10px 0;
    height: 260px;
    width: 180px;
    border-radius: 13px;
}

.internoTarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.internoTarjeta img {
    margin-top: 11px;
    width: 100px;
    height: 100px;
}

.tarjetaPokemon li{
    list-style: none;
    font-size: 9px;
    padding: 2px 0;
}

.infoPokemon {
    padding: 0 8px;
}

h2 {
    font-size: 17.5px;
}


@media (max-width: 840px) {

    .header{
        height: 4rem;
    }

    .lateral {
        width: 160px;
    }

    .inputs {
        height: 15px;
        padding: 1.5px;
    }

    input:first-child {
        margin-bottom: 20px;
        font: 8.5px Arial;
    }

    label:first-child {
        margin: 0 0 5px 0;
    }

    .contenedorlateral{
       top: 15.5vh;
    }

    .contieneinputslateral{
        margin-bottom: 20px;
    }

    label {
        font-size: 0.6em;
    }

    .tarjetaPokemon {
        height: 220px;
        width: 153px;
        border-radius: 10px;
    }

    .internoTarjeta img {
        margin-top: 9.5px;
        width: 80px;
        height: 80px;
    }

    .tarjetaPokemon li{
        list-style: none;
        font-size: 8px;
        padding: 1.5px 0;
    }

    .infoPokemon {
        padding: 0 6px;
    }

    h2 {
        font-size: 15px;
        margin: 10px 0;
    }

}

@media (orientation: portrait) {

    .contenedorlateral{
       top: 9vh;
    }
}