body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    height: 110px;
    background-image: url(img/pokebolas-reales-pokemon.jpg);
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.logopokemon{
    width: 95%;
    height: 95%;
    background-image: url(img/logopokemon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.desarrollo{
    display: flex;
    flex-direction: row;
    background: url(img/bosquepokemon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lateral {
    background-color: #60C264;
    width: 30%;
    display: flex;
    justify-content: center;
}

.contenedorlateral{
    }

.contenedorTarjetas {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedorlateral {
    width: 85%;
    margin-top: 35px;
}

.inputs {
    width: 100%;
    border-radius: 4px;
    height: 25px;
    border: solid .05px #777;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0;
}

input:first-child {
    margin-bottom: 30px;
    display: inline-block;
    font: 10.5px Arial;
}

label:first-child {
    margin: 0 0 8px 0;
}

.checkbox {
    margin: 0 3px;
}

.contieneinputslateral{
    margin-bottom: 30px;
}

label {
    font-size: 0.8em;
}

.evolucion {
    display: flex;
    flex-direction: column;
}

.contienesino{
    display: flex;
    vertical-align: bottom;
}

.tarjetaPokemon {
    background: rgb(193, 186, 186, 0.6);
    margin: 12px 10px 0;
    height: 300px;
    width: 220px;
    border-radius: 13px;
}

.internoTarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.internoTarjeta img {
    margin-top: 12px;
    width: 120px;
    height: 120px;
}

.tarjetaPokemon li{
    list-style: none;
    font-size: 11px;
    padding: 2px 0;
}

.infoPokemon {
    padding: 0 8px;
}

h2 {
    font-size: 21.5px;
}